.container {
  width: 80%;
  height: inherit;
  margin: 0 auto;

  &_uslugi {
    width: 80%;
  }

  &__popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 90%;

    &_uslugi {
      width: 70%;
      padding-top: 10vh;
    }
  }
}
