.main-nav {
    display: none;

    &__item {
        &_icons {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: end;
        }
    }

    &__popup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 40px;
        margin-top: 20px;
    }
}

@media (min-width: $tablet-width) {
    .main-nav__item_icons {
        width: 60%;
    }
}

@media (min-width: $desktop-width) {
    .main-nav {
        display: flex;
        height: inherit;
        align-items: center;

        &__list {
            width: 90%;
            height: 100%;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        &__item_burger {
            display: none;
        }

        &__item_icons {
            width: 100%;
        }

        &__unit {
            height: inherit;
            flex-grow: 1;
            text-align: center;
            height: inherit;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            text-decoration: none;
            color: grey;
        }
    }
}
