.nav {
  display: none;

  &__list {
    list-style-type: none;
    padding: 0 0 0 10%;
  }

  &__unit {
    &_footer {
      height: 60px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: gray;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  &_footer {
    display: block;
  }

  &-main__unit {
    list-style-type: none;
  }

  &-main__link {
    text-decoration: none;
    color: grey;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    display: block;

    &__burger {
      display: none;
    }

    &-main {
      height: 100%;
    }

    &__list_main {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &__unit {
      &_main {
        width: auto;
        flex-grow: 1;
        text-align: center;
        height: 100%;
      }
    }

    &__link {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
