- var linkContent=['Компания Приорити признана самым значительным игроком консалтингового рынка', 'Помощник бизнес-аналитика в Москве', 'Системы безопасных платежей для онлайн-коммерции'];

section.blocks
 each content in linkContent
  .blocks__item
   a(class='blocks__link', href='#')
    span(class='blocks__text')=content