- var listContent=['Услуги', 'Продукция', 'Проекты', 'Компания', 'Пресс-центр', 'Контакты', 'Детский сад'];

nav(class='main-nav headerGrid-1')
 ul.main-nav__list
  each content in listContent
     li.main-nav__unit
      a(class='main-nav__link', href='#')=content