- var listContent=['Услуги', 'Продукция', 'Проекты', 'Компания', 'Пресс-центр', 'Контакты'];

.popup
 div(class='container container__popup')
  nav(class='main-nav main-nav__popup')
   div(class='logo')
    a(class='logo__link', href='#') LOGO
   div(class='logo__close')
    svg(width='20', height='20')
     use(xlink:href='#cruz')
  section.popup__menu
   ul.popup__list
    each content in listContent
     li.popup__item
      a(class='popup__link', href='#')=content

   