- var array = [1, 2, 3, 4];
- var string = 'slider-item slider-';
 .slider
  each index in array
   input(type='radio', name='point', id='slide' + index)
  .slider-items
   each index in array
    div(class=`${string}` + index)
  .slider-controls
   each index in array
    label(for='slide' + index)